$color-primary-light: hsl(193, 38%, 86%);
$color-primary-green: hsl(150, 100%, 66%);

$color-neutral-light: hsl(217, 19%, 38%);
$color-neutral-dark: hsl(217, 19%, 24%);
$color-neutral-darker: hsl(218, 23%, 16%);

$fs-quote: 28px;

$ff-default: "Manrope", sans-serif;

$fw-default: 800;
