.advice {
  &-container {
    width: 21rem;
    background-color: $color-neutral-dark;
    border-radius: 10px;
    padding: 2.5rem 1rem;
    gap: 1rem;
    position: relative;
  }

  &-title {
    color: $color-primary-green;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: normal;
  }

  &-quote {
    color: $color-primary-light;
    font-size: $fs-quote;
    text-align: center;
  }

  &-divider {
    margin-bottom: 2rem;
  }

  &-dice {
    cursor: pointer;
    position: absolute;
    bottom: -31px;
    // height: 3rem;
    // width: 3rem;
    padding: 0.8rem 1.2rem;
    border-radius: 50px;
    background-color: $color-primary-green;

    &:hover {
      box-shadow: 0px 0px 15px 1px $color-primary-green;
    }
  }
}

@media (min-width: 500px) {
  .advice {
    &-container {
      width: 30rem;
    }

    &-divider {
      content: url("../images/pattern-divider-desktop.svg");
    }
  }
}
